RestfulWebAPI/ControllerDispatchment/ControllerEntityVersionsAndNamesMapping/ControllerEntityVersionAndNameMapping.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Controllers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="controller">
          <xs:complexType>
            <xs:attribute name="entityName" type="xs:string" use="required" />
            <xs:attribute name="controllerName" type="xs:string" use="optional" />
            <xs:attribute name="version" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>