RestfulWebAPI/ControllerDispatchment/ControllerEntityVersionsAndNamesMapping/EntitiesAndIDTypesMapping.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Entities">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entity">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="idType" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="defaultIDType" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>