RestfulWebAPI/XMLAndXSD/ControllerVersionAndName/ControllerVersionsAndNames.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="controller">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="version" />
        <xs:element name="name" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>